# Node modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist-ssr
*.local
*.log

# Test output
coverage

# Editor files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?