version: "3.8"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  livekit:
    image: livekit/livekit-server
    command: ["--dev", "--bind", "0.0.0.0"]
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
    environment:
      LIVEKIT_KEYS: "devkey: secret"
      LIVEKIT_REDIS_ADDRESS: redis:6379
    depends_on:
      - redis

  egress:
    image: livekit/egress:latest
    restart: unless-stopped
    #privileged: true # REQUIRED for Chrome to run inside Docker
    #shm_size: '2gb'   # REQUIRED for Chrome rendering performance
    depends_on:
      - redis
      - livekit
    environment:
      EGRESS_CONFIG_FILE: /config/egress.yaml
    volumes:
      - ./egress.yaml:/config/egress.yaml
      - ./output-recordings:/out
