livekit-agents[silero,turn-detector]~=1.3
livekit-agents[openai]~=1.2
livekit-plugins-noise-cancellation~=0.2
openai
python-dotenv
chromadb
beautifulsoup4
pip-system-certs # For self-signed certificates (SSL error)
# uv run agent.py download-files
fastapi[standard]
gunicorn