/* @keyframes mouthMove {
  0% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(0.7);
  }

  50% {
    transform: scaleY(1);
  }

  75% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(1);
  }
}

.animate-mouth-move {
  animation: mouthMove 0.4s infinite ease-in-out;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
    box-shadow: 0 0 0 0 rgba(212, 175, 55, 0.7);
  }

  70% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 20px rgba(212, 175, 55, 0);
  }

  100% {
    transform: scale(0.8);
    opacity: 0.5;
    box-shadow: 0 0 0 0 rgba(212, 175, 55, 0);
  }
}

.animate-pulse-ring {
  animation: pulse-ring 2s infinite;
} */